{{"I am a card component and a direct strring typed in interpollation/expression {{like this}}"}}
<h1>I am app property card component's template and i am card</h1>
<div class="row" style="width: 20%;">
  <div class="shadow-lg col-sm-12 p-2">
    <div class="card">
      <div class="card-body p-2">
        <img class="propImg" src="assets/Images/house_defaults.png">
        <h2>{{Property.id}}</h2>
        <h3>{{Property.typeofp}}</h3>
        <h3>{{Property.cost}}</h3>
      </div>
    </div>
  </div>
</div>
